<div
  class="relative w-[251px] h-[251px] sm:w-[350px] sm:h-[350px] 2xl:w-[452px] 2xl:h-[452px]"
>
  <div class="w-full h-full bg-[url(/profile.avif)] bg-contain rounded-[70px]">
  </div>
  <h2
    class="absolute -bottom-[18px] -right-[2px] sm:-bottom-[27px] sm:-right-[6px] 2xl:-bottom-[40px] 2xl:-right-[12px] text-fox font-bold text-5xl sm:text-7xl 2xl:text-8xl"
  >
    Yeferson
  </h2>
  <h2
    class="absolute -bottom-[45px] -right-[6px] sm:-bottom-[66px] sm:-right-[13px] 2xl:-bottom-[92px] 2xl:-right-[25px] text-elegant font-bold text-5xl sm:text-7xl 2xl:text-8xl"
  >
    Mejias
  </h2>
</div>
