<div class="relative w-[452px] h-[452px]">
  <div class="w-full h-full bg-[url(/profile.avif)] bg-contain rounded-[70px]"></div>
  <h2 class="absolute -bottom-[40px] -right-[12px] text-fox font-bold text-8xl">Yeferson</h2>
  <h2 class="absolute -bottom-[92px] -right-[25px] text-elegant font-bold text-8xl">Mejias</h2>
</div>
