<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="/portfolio/icons/node.svg" alt="" />
    </div>
    <div class="slide">
      <img src="/portfolio/icons/apollo.svg" alt="" />
    </div>
    <div class="slide">
      <img src="/portfolio/icons/apollo.svg" alt="" />
    </div>
    <div class="slide">
      <img src="/portfolio/icons/apollo.svg" alt="" />
    </div>
    <div class="slide">
      <img src="/portfolio/icons/apollo.svg" alt="" />
    </div>
    <div class="slide">
      <img src="/portfolio/icons/apollo.svg" alt="" />
    </div>
    <div class="slide">
      <img src="/portfolio/icons/apollo.svg" alt="" />
    </div>
  </div>
</div>

<style>
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-120px * 7));
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-120px * 7));
    }
  }

  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .slider::before,
  .slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  .slider .slide-track {
    -webkit-animation: scroll 5s linear infinite;
    animation: scroll 5s linear infinite;
    display: flex;
    width: calc(120px * 14);
  }

  .slider .slide {
    height: 120px;
    width: 120px;
  }

  .slide > img {
    width: auto;
    height: 70%;
  }
</style>
