---
import CardProfile from "../components/CardProfile.astro";
import StackIcons from "../components/StackIcons.astro";
---

<div class="absolute top-[15%] left-1/2 -translate-x-1/2">
  <CardProfile />
</div>

<div>
  <StackIcons />
</div>
