---
import CardProfile from "../components/CardProfile.astro";
import StackIcons from "../components/StackIcons.astro";
import { BACKENDS_ICONS, FRONTEND_ICONS } from "../utils/constants.ts";
---

<div class="absolute w-full top-[340px] -translate-y-1/2">
  <StackIcons icons={BACKENDS_ICONS} />
  <div class="mt-8">
    <StackIcons icons={FRONTEND_ICONS} forward />
  </div>
</div>

<div class="absolute top-[106px] left-1/2 -translate-x-1/2">
  <CardProfile />
</div>

<div
  class="absolute w-full text-center bottom-[13%] left-1/2 -translate-x-1/2 space-y-1"
>
  <h4 class="text-elegant font-extrabold text-4xl">Full Stack</h4>
  <h4 class="text-elegant font-extrabold text-4xl">Web Developer</h4>
  <h4 class="text-vintage font-bold text-xl">Effective Web Solutions</h4>
</div>

<div class="absolute text-center left-[7%] top-[560px] -translate-y-1/2">
  <h4 class="text-vintage font-extrabold text-4xl">Pixel</h4>
  <h4 class="text-vintage font-extrabold text-4xl">Perfectionist</h4>
</div>

<div class="absolute text-center right-[7%] top-[560px] -translate-y-1/2">
  <h4 class="text-vintage font-extrabold text-4xl">UI/UX</h4>
  <h4 class="text-vintage font-extrabold text-4xl">Alchemist</h4>
</div>

<div class="flex absolute left-0 bottom-0 py-4 px-8 space-x-8">
  <a
    class="text-elegant text-lg"
    href="https://www.linkedin.com/in/yeferson-mejias-29766b185/"
    target="_blank">Linkedin</a
  >
  <a
    class="text-elegant text-lg"
    href="https://github.com/codefensory"
    target="_blank">Github</a
  >
  <a
    class="text-elegant text-lg"
    href="https://twitter.com/mejias_yeferson"
    target="_blank">Twitter</a
  >
  <a
    class="text-elegant text-lg"
    href="mailto:yefer.el,teke@gmail.com"
    target="_blank">Mail</a
  >
</div>
